/* CSS Document */
.welcome-banner{background:url('../images/welcome_banner_01.jpg') no-repeat center top; height:218px;}
.help-content{padding:20px 0;}
.help-wrap{background:#211E1C; margin:0 auto;}
.help-wrap .menu-sub{width:234px;}
.help-wrap .menu-sub ul li{background:url('../images/area_menu_bg.png') 0 0 no-repeat;; width:234px; height:34px; line-height:34px;}
.help-wrap .menu-sub ul li:hover, .help-wrap .menu-sub ul li.current{background-position:0 -34px;}
.help-wrap .menu-sub ul li a{padding-left:25px; color:#fff; display:block; font-size:14px; position:relative;}
.help-wrap .menu-sub ul li a:hover,.help-wrap .menu-sub ul .current a,.help-wrap .menu-sub ul .current a:hover{color:#ddd;}

.help-wrap .area-main{width:696px; padding:0 30px 30px 40px; background-color:#000; color:#888; font-size:14px;}
.help-wrap .area-main ol li{list-style-type:decimal; line-height:24px; margin-left:20px; *margin-left:25px; padding:15px 10px;}
.help-wrap .area-main h2{font:26px/1.5 "Microsoft YaHei"; color:#fff; margin-top:25px;}
.help-wrap .area-main p{padding:10px 0; line-height:24px;}
.help-wrap .area-main h3{background:url('../images/list_dot.png') 0 8px no-repeat; padding-left: 20px; margin-top:30px; cursor:pointer; font-size:14px;}
.help-wrap .area-main .child,#faqs p{font-size:12px;}
.help-wrap .area-main ul.child li{line-height:24px; background:url(../images/list_dot.png) no-repeat 0 -52px; padding:10px 0 10px 15px; list-style-type:none; margin:0;}
.help-wrap .area-main ol.child li{padding:10px 0 10px 10px;}
.help-wrap .area-main h4{color:#888; padding:40px 0 10px}
.help-wrap .area-main .answer{display:none; margin:0 20px;}
.help-wrap .area-main .answer a{text-decoration:underline; color:#88662c;}
.help-wrap .area-main .answer p,.help-wrap .area-main .answer .child li{color:#888;}
#faqs h3{margin-top:10px; color:#aaa; height:34px; line-height:34px; background-position:0 14px;}
#faqs h3.current,#faqs h3.current:hover,#faqs h3:hover{color:#FDFA25;}

/* 联系我们 */
.contact-wrap ul li{margin:45px 0;}
.contact-wrap ul li i{background:url(../images/contact.png) no-repeat; width:60px; height:60px; float:left;}
.contact-wrap ul .tel i{background-position:0 -118px;}
.contact-wrap ul .email i{background-position:0 -213px;}
.contact-wrap ul li div{margin-left:74px; *margin-top:-20px;}
.help-wrap .contact-wrap ul li div h4{font:20px/1 "Microsoft YaHei"; color:#aaa; padding:0;}
.contact-wrap ul li p{text-indent:0;}
.contact-wrap ul .online-chat a{background:#c41100; height:30px; text-align:center; display:block; width:135px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; color:#fff; font:16px/30px "Microsoft YaHei"; cursor:pointer;}
.contact-wrap ul .online-chat a:hover{background:#da2c00;}
.contact-wrap ul .email a{text-decoration:underline; font-size:16px; color:#88662c;}
.contact-wrap ul .email a:hover{color:#88662c;}

/* 公告 */
.notice{background:url(../images/notice_bg.png) repeat; height:38px; width:100%; line-height:35px; position:absolute; bottom:0;}
.notice > .layout{overflow:hidden;}
.notice i{background:url(../images/notice_icon.png) no-repeat 0 10px; padding-left:25px; color:#F9CC54; float:left; display:inline; width:71px; font-size:14px;}
.marquee{float:left; display:inline; width:901px; height:38px; line-height:37px; color:#B7B7B7; overflow:hidden;}

.mod-banner{height:218px;}
