/* CSS Document */
/* 焦点图 */

.login-menu{margin-top:50px;}
.login-menu div{display:inline; margin-right:3px;}
.login-menu input{background:#232323; width:120px; border:1px solid #5b5b5b; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; height:18px; line-height:18px; padding:2px 10px; color:#c9caca;}
.login-menu input::-webkit-input-placeholder {font-size:12px; color:#999;}
.login-menu input::-moz-placeholder {font-size:12px; color:#999;}
.login-menu .password-btn input{padding:2px 60px 2px 10px;}
.login-menu .forgot-password{color:#c9caca; position:absolute; right:2px; top:0px; *top:4px; width:50px; height:18px; text-align:center; background:#666; border:1px solid #222; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer;}
.login-menu .forgot-password:hover{color:#fff; background:#888;}
.login-menu .log-btn,.login-menu .log-btn-disabled,.login-menu .reg-btn{height:24px; line-height:22px; padding:0 15px; margin-left:5px; color:#fff; text-align:center; display:inline-block; *display:inline; *zoom:1; vertical-align:middle; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.login-menu .log-btn{background:#d20336;}
.login-menu .log-btn:hover{background:#bd0330;}
.login-menu .log-btn-disabled{background:#a4a4a4; cursor:default;}
.login-menu .reg-btn{background:#84b31f;}
.login-menu .reg-btn:hover{background:#77a11c;}

.nav{background:#84b31f;}
.nav .cur a,.nav a:hover{background:#77a11c;}
.nav .nav-online-chat{line-height:30px; font-size:14px; margin:0 10px; background:url(../images/common_spirits.png) no-repeat left -794px; padding-left:35px; color:#fff;}
.nav .nav-online-chat:hover{ background:url(../images/common_spirits.png) no-repeat left -794px; background-color:transparent;}
.banner{background:url(../images/agency_banner_01.jpg) no-repeat center top; height:520px;}
.banner .layout{position:relative;}
.banner a{background:#d20336; width:240px; height:56px; line-height:56px; text-align:center; font-size:24px; color:#fff; cursor:pointer; position:absolute; left:28px; top:260px; display:block; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}
.banner a:hover{background:#bd0330; color:#fff;}

.agency-content{padding:30px 0;}
.agency-content .layout{padding:40px; width:918px; background:#1d1c20; border:1px solid #333; color:#c9caca;}
.agency-content h2{font:30px/1.5 "Microsoft YaHei"; margin-bottom:20px; color:#fff;}
.agency-content p{font-size:14px; line-height:24px; margin:10px 0; text-indent:2em;}
.agency-content h3{font:18px/1.5 "Microsoft YaHei"; margin-top:30px; color:#b7d200;}
.agency-content .child{font-size:12px; text-indent:4em;}
.agency-content .form-t th{background:#333; border-color:#444; color:#8e8e8e;}
.agency-content .form-t td{background-color:transparent; border-color:#444; color:#8e8e8e;}

/* 代理中心 */






