/* CSS Document */
body{background:#917023 url(../images/body_bg.jpg) no-repeat center top;}
a{color:#b88f6b;}
a:hover,a:active{color:#FFE27E;}
.cMain,a.cMain,.cMain a,.cMain a:active{color:#ffe533;}
.cRed,a.cRed,.cRed a,.cRed a:active{color:#ff0000;}
.cRed a:hover,a.cRed:hover{color:#cc000f; text-decoration:underline;}
.cGray a:hover,a.cGray:hover,.c6 a:hover,a.c6:hover,.c8 a:hover,a.c8:hover{color:#FEE819;}
.layout1000,.layout{width:1000px; margin:0 auto;}
.layout1020{width:1020px; margin:0 auto;}
.layout1050{width:1050px; margin:0 auto;}

/* spirits 图片 */
.nav ul li.nav-item a i,.home-menu .menu-info p em,.header-online-chat,.top-notice em,.mod-reg .reg-sub a,.mod-forget-passwd .ways a,.slide-wrap .slide-arrow em{background:url(../images/common_spirits.png) no-repeat;}
.login-menu input,.login-menu .log-btn,.login-menu .log-btn-disabled,.login-menu .reg-btn,.login-menu .forgot-password{background:url(../images/header/header_spirits.png) no-repeat;}

/*系统公告*/
.top-notice{background:#fff4d1; color:#777; height:30px; line-height:30px; position:relative; z-index:100; overflow:hidden;}
.top-notice .layout{position:relative;}
.top-notice em{background-position:-179px -120px; height:18px; width:18px; display:block; position:absolute; top:6px; left:0;}
.top-notice .top-marquee{width:960px; margin-left:30px; overflow:hidden; height:100%; color:#4d3308;}

/* 最新公告 */
.notice{height:29px; background:url(../images/header_nav_bg.png) no-repeat 0 -49px; color:#A47A1C; margin-top:6px;}
.notice i{float:left; margin-left:24px;}
.notice .marquee{width:900px; height:23px; line-height:19px; overflow:hidden;}

.mod-sports > .layout,.promotions-wrap > .layout,.mod-live-casino > .layout{background:#d1b245;}

/* 焦点图 */
.mod-banner{height:268px; overflow:hidden; z-index:1; position:relative;}
.slide-wrap{position:relative; text-align:center; height:100%; width:100%; overflow:hidden;}
.slide-wrap ul li{position:absolute; left:50%; top:0; display:none;}
.slide-wrap ul li a{display:block;}
.slide-wrap ul li img{position:relative; left:-50%;}
.banner-text{position:absolute; top:0; left:0;}

/* header */
.header{height:183px; background:url(../images/header/header_bg.png) no-repeat scroll center top; position:relative; z-index:99; height:228px;}
.header .logo{position:absolute; top:10px; left:0; cursor:pointer; width:355px; height:120px;}
.header .logo a{cursor:pointer; position:absolute; display:block; width:100%; height:100%; top:0; left:0;}

.header-top{height:145px;}
.header-top .web-nav{color:#f8df7a; line-height:28px; width:260px;}
.header-top .web-nav > a,.header-top .web-nav > span{float:left; margin-top:0px;}
.header-top .web-nav .img-lang{background:url(../images/header/img_lang_rect.png) no-repeat; width:72px; height:17px; margin:5px 0 0 5px; float:right;}

.login-wrap{float:right; margin:12px 8px 0 0;}
.login-menu{width:345px; margin-top:10px;}
.login-menu input{width:180px; height:21px; padding:3px 0 3px 10px; border:none; outline:none; color:#e6d698; margin-right:5px;}
.login-menu .password-btn{background-position:0 -30px; width:130px;}
.login-menu input::-webkit-input-placeholder{font-size:12px; color:#ddd;}
.login-menu input::-moz-placeholder{font-size:12px; color:#ddd;}
.login-menu .log-btn,.login-menu .log-btn-disabled,.login-menu .reg-btn,.login-menu .forgot-password{width:98px; height:35px; margin-top:10px; line-height:300px; overflow:hidden; display:inline; float:right; *zoom:1; vertical-align:middle; cursor:pointer; outline:none;}
.login-menu .log-btn{background-position:0 -67px;}
.login-menu .log-btn:hover{background-position:0 -103px;}
.login-menu .log-btn-disabled{background-position:0 -138px;}
.login-menu .reg-btn{background-position:-105px -67px;}
.login-menu .reg-btn:hover{background-position:-105px -103px;}
.login-menu .forgot-password{background-position:-215px -67px;}
.login-menu .forgot-password:hover {background-position:-215px -103px;}

.logined-nav{margin:10px 0 0 25px; color:#fff; line-height:25px;}
.logined-nav span{float:left; display:inline; padding-right:15px;}
.logined-nav a{display:inline; float:left; color:#fff;}
.logined-nav a:hover{color:#FFE27E;}
.logined-nav .user-center{padding:0 15px; height:30px;}
.logined-nav .user-center i{background-position:-192px -634px; width:5px; height:9px; display:inline-block; margin-left:6px; _display:inline; _zoom:1;}
.logined-nav .money-operate a{padding:0 18px; background:#4d3300; height:24px; line-height:24px; color:#fff; margin-right:1px; border-top:1px solid #ffff00;}
.logined-nav .money-operate a:hover{background:#5a4110;}
.logined-nav .money-operate .user-center{border-top-left-radius:3px; border-bottom-left-radius:3px;}
.logined-nav .money-operate .withdraw-href{border-top-right-radius:3px; border-bottom-right-radius:3px;}

.nav-wrap{background:url(../images/header_nav_bg.png) no-repeat center top; height:49px;}
.nav{width:1008px; margin:0 auto;}
.nav li{float:left; display:inline; height:35px; width:108px; position:relative; margin-top:8px;}
.nav li > a{height:100%; width:100%; font:14px/35px "Microsoft YaHei"; text-align:center; color:#000; display:block; font-weight:bold;}
.nav li.cur > a,.nav .hover > a,.nav li > a:hover{background:url(../images/header/nav_cur.png) no-repeat;}
.nav li i{position:absolute; top:0; right:10px;}

.nav .nav-drop{display:none; position:absolute; top:100%; z-index:100; width:334px; left:-113px;}
.nav .nav-drop a{width:76px; height:76px; float:left; margin-right:10px; display:inline; color:#000; font-size:0; background:url(../images/header/nav_spirits.png) no-repeat;}
.nav .nav-drop a.last-a{margin-right:0;}
.nav .nav-drop a:hover{color:#b10000;}
.nav .sports-drop a.hg{background-position:-237px 0;}
.nav .sports-drop a.shaba{background-position:0 0;}
.nav .sports-drop a.im{background-position:-79px 0;}
.nav .sports-drop a.bb{background-position:-159px 0;}

.nav .l-c-drop a.bb{background-position:0 -86px;}
.nav .l-c-drop a.ag{background-position:-80px -86px;}
.nav .l-c-drop a.allbet{background-position:-157px -86px;}
.nav .l-c-drop a.shalon{background-position:-235px -86px;}
.nav .l-c-drop a.gd{background-position:-313px -86px;}
.nav .l-c-drop a.pt{background-position:-391px -86px;}
.nav .l-c-drop a.mg{background-position:-468px -86px;}

.nav .games-drop a.pt{background-position:0 -172px;}
.nav .games-drop a.mg{background-position:-79px -172px;}
.nav .games-drop a.ag{background-position:-157px -172px;}
.nav .games-drop a.nt{background-position:-235px -172px;}
.nav .games-drop a.bb{background-position:-313px -172px;}

.nav .lottery-drop a.sgwin{background-position:0 -256px;}
.nav .lottery-drop a.bb{background-position:-79px -256px;}
.nav .lottery-drop a.kg{background-position:-237px -256px;}

.nav .lottery-drop{width:162px; left:-27px;}
.nav .l-c-drop{width:678px; left:-287px;}
.nav .nav-service a,.nav .nav-service a:hover{background:url(../images/header/nav_service.png) no-repeat; width:134px; height:56px; font-size:0; margin-top:-12px;}
.nav .nav-service a:hover{background-position:0 -67px;}

/*侧边在线客服浮动*/
.float-box{position:absolute; z-index:1000; top:178px;}
.float-box a{display:block; width:100%; height:100%;}
.float-box-left{left:10px; float:left;}
.float-box-left > div{background:url(../images/side_contact_left.png) no-repeat; width:113px; height:302px;}
.float-box-left .box-promotion{height:96px; width:100%;}
.float-box-left .box-weixin{height:126px; width:100%;}
.float-box-left .box-agent{height:44px; width:100%;}
.float-box-left .box-close{height:36px; width:100%; cursor:pointer;}

.float-box-right{right:10px; float:right;}
.float-box-right > div{width:122px; height:286px;}
.float-box-right a,.float-box-right .box-welcome-tit,.float-box-right .box-close{background:url(../images/side_contact_right.png) no-repeat; display:block; width:122px;}
.float-box-right a:hover{background:url(../images/side_contact_right_hover.png) no-repeat;}
.float-box-right .box-welcome-tit{height:36px;}
.float-box-right .box-chat a{height:53px; background-position:0 -36px;}
.float-box-right .box-spare-url a{height:46px; background-position:0 -89px;}
.float-box-right .box-reg a{height:44px; background-position:0 -135px;}
.float-box-right .box-qq a{height:51px; background-position:0 -179px;}
.float-box-right .box-close{height:36px; background-position:0 -230px; cursor:pointer;}

/* 表单 */
.mod-forms label,.mod-forget-passwd li label{line-height:30px;}
.withdraw-psw-tip p a{color:#e04220;}
.withdraw-psw-tip p a:hover{color:#f99d1c;}

/* 注册 */
.mod-reg,.mod-forget-passwd,.mod-error{padding:3px 0 30px;}
.mod-reg .layout,.mod-forget-passwd .layout,.mod-error .layout{overflow:hidden; padding-bottom:30px; background:#d1b245; border:1px solid #c6a73c;}
.mod-reg .hd,.mod-forget-passwd .hd{padding:20px 30px;}
.mod-reg .hd h3,.mod-forget-passwd .hd h3{font:22px/1.5 "Microsoft YaHei"; color:#6a4900;}
.mod-reg .hd p{padding-top:10px; color:#333;}
.mod-reg .hd p span{font-size:14px;}
.mod-reg fieldset,.mod-forget-passwd fieldset{border-width:1px 0 0; border-style:solid; border-color:#b69522; margin:15px 30px; padding:10px 10px 10px 0;}
.mod-reg fieldset legend{font:22px/2.5 "Microsoft YaHei"; color:#d30000;}

.mod-reg .agreement{margin:0 160px; color:#fff;}
.mod-reg .agreement a{text-decoration:underline;}
.mod-reg .reg-sub a,.mod-forget-passwd .ways a{background-position:0 -647px; width:160px; margin:30px 160px; height:38px; display:block; text-align:center; color:#fff; font:14px/38px "Microsoft YaHei";}
.mod-reg .reg-sub a:hover,.mod-forget-passwd .ways a:hover{background-position:0 -685px;}

.mod-reg .mod-forms label, .mod-forget-passwd li label{color:#fff;}
.mod-reg .mod-forms .item-ipt .tips,.mod-reg span.valid-tips,.mod-forget-passwd .mod-forms .item-ipt .tips,.mod-forget-passwd span.valid-tips,.mod-reg .mod-forms .txt{color:#68530b;}

.mod-reg textarea,.mod-reg .txt-ipt,.mod-reg select,.mod-forget-passwd .txt-ipt{background-color:#f0f0f0; border:1px solid #ccc; color:#000;}
.mod-forget-passwd .ways span{color:#333;}
/* 忘记密码 */
.mod-forget-passwd fieldset legend{font:16px/2.5 "Microsoft YaHei"; color:#c10101;}

/* error 403 */
.mod-error .layout{padding:80px 0;}
.mod-error .error-wrap h3{color:#fff;}
.mod-error .error-wrap p{color:#999;}
.mod-error .error-wrap .refresh-btn{background:#9a0000; height:30px; display:block; text-align:center; color:#fff; font:14px/30px "Microsoft YaHei"; border-radius:5px;}
.mod-error .error-wrap .refresh-btn:hover{background:#ae0000;}

/* 用户中心 */
.ag-ctr{padding:30px 0;}
.user-ctr{padding:3px 0 30px;}
.user-ctr .layout,.ag-ctr .layout{background:#f1f1f1; overflow:hidden;}

/* 用户中心-导航 */
.user-ctr .items-tab a:hover,.user-ctr .items-tab a.current,.user-ctr .items-tab a.current:hover,.item h3.title,.item .item-tab a:hover,.recycle-btn:hover{ color:#a97600;}
.item .item-tab a.current{background:#a97600;}

/* 用户中心-我的优惠 *//* 翻页 */
.mod-pt .pt-wrap .pt-main h4,.page .current,.mod-pt .pt-info li a{color:#000;}/* 不建议用浅色 */
.mod-pt .pt-wrap .unfold:hover,.mod-pt .pt-wrap .fold:hover,.page a:hover{border-color:#a97600; color:#a97600;}/* 不建议用浅色 */

/* footer */
.footer{background:#533c0b;}
.footer-icon-02{background:url(../images/footer/footer_icon_02.png) center 10px no-repeat; height:57px; padding:10px 0;}
.footer-menu{text-align:center; background: #422f07; color: #8c6f33; height: 38px; line-height: 38px; text-align: center;}
.footer-menu .fr{width:450px; overflow:hidden; height:38px;}
.footer-menu a{margin:0 8px; color: #8c6f33; cursor:pointer;}
.footer-menu a:hover{text-decoration:underline;}
.footer-menu span{color:#8c6f33;}
.footer-icon{background:url(../images/footer/footer_icon.png) no-repeat; height:82px; padding:10px 0;}

/* introduce */
.introduce{color:#684f0d; background:#332407; text-align:center; padding:20px 0;}
.introduce ul{padding:0 10px;}
.introduce li{display:inline; float:left; width:280px;}
.introduce li.int-service{padding-right:34px;}
.introduce li.int-product{border-left:1px solid #5e4b00; border-right:1px solid #5e4b00; padding:0 35px;}
.introduce li.int-more{padding-left:34px;}
.introduce li h3{background:url(../images/footer/introduct_spirits.png) no-repeat;}
.introduce li h3{width:158px; height:51px; text-indent:-9999em; margin-bottom:40px;}
.introduce li.int-product h3{background-position:0 -61px;}
.introduce li.int-more h3{background-position:0 -122px;}
.introduce li dd{width:280px; height:100px;}
.introduce li.int-leading dd{width:;}
.introduce li dd > p{margin:10px 0; text-align:left;}
.introduce li .int-tit{zoom:1;}
.introduce li .int-tit:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
.introduce li .int-tit .fl{display:inline;}
.introduce li .int-tit .fl h4{font:18px/1.5 "Microsoft YaHei";}
.introduce li .int-tit .fl p{color:#5c4300;}
.introduce li .int-tit .fr{display:inline; color:#54340b; line-height:28px;}
.introduce li .int-tit .fr em{font:44px/1 "Microsoft YaHei"; color:#54340b;}
.introduce li .int-tit .fr span{font:28px/1 "Microsoft YaHei";}
.introduce li .int-tit .fl img{margin:5px 0;}
.introduce li .int-speed-bar{height:10px; width:278px; margin-top:5px; background:#4e3502; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; position:relative;}
.introduce li .int-speed-bar i{height:10px; width:22%; background:#6a4d00; position:absolute; left:-1px; top:0; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.introduce li .deposit-speed i{width:22%;}
.introduce li .withdraw-speed i{width:75%;}
.introduce li.int-protection h3{margin-bottom:20px;}