/* CSS Document */

/* 代理前端 */
.mod-banner{height:360px;}
.agency-home{background-color:#282828;}
.agency-platform li{margin:20px 0 30px; background:#333; padding:1px;}
.agency-platform .platform-tit{background:#f4f4f4; border:1px solid #222; height:116px;}
.agency-platform .platform-logo{width:250px; margin:20px 0 0; height:70px; border-right:1px solid #b5ab99; color:#666; text-align:center;}
.agency-platform .platform-logo h2{font:30px/1.2 "Microsoft YaHei"; color:#000;}
.agency-platform .platform-logo span{font:20px/1.6 "Microsoft YaHei";}
.agency-platform .platform-text{font-size:14px; width:360px; padding:24px 10px 10px 80px; color:#585858;}
.agency-platform .platform-text strong{color:#333;}
.agency-platform .platform-go{background:#1b4878; background-image:linear-gradient(to top,#156ac5,#1b4878);background-image:-webkit-linear-gradient(to top,#e80782,#691643); color:#fff; margin:32px 40px 0px 20px; width:220px; height:54px; font:20px/54px "Microsoft YaHei"; text-align:center; border-radius:5px; cursor:pointer;}
.agency-platform .platform-go:hover{background:#156ac5; background-image:linear-gradient(to top,#1b4878,#156ac5);background-image:-webkit-linear-gradient(to top,#691643,#e80782);}

.agency-content{background-color:#282828; padding:20px 0; color:#E0E0E0;}
.agency-content .layout{width:920px; padding:40px; background:#000;}
.agency-content h2{font:30px/1.5 "Microsoft YaHei"; margin-bottom:20px;}
.agency-content p{font-size:14px; line-height:24px; margin:10px 0; text-indent:2em;}
.agency-content h3{font:18px/1.5 "Microsoft YaHei"; color:#00a0d4; margin-top:30px;}
.agency-content .child{font-size:12px; text-indent:4em;}
.agency-content table th{background:#666; color:#fff;}
.agency-content table td,.agency-content table th{border:1px solid #511b0f; text-align:center;}

.logined-nav .money-operate a:hover{color:#fff;}
.logined-nav .agent-logined-user{margin-top:6px;}
/* 代理中心 */
